@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .btn {
    @apply w-fit h-[50px] bg-transparent border border-[#5dd9dd] flex justify-center items-center rounded-[8px] px-10 py-[10px] text-sm uppercase font-bold;
   
  }
  
  .btn.btn-active {
    @apply w-fit h-[50px] bg-[#5dd9dd] flex justify-center items-center rounded-[8px] px-10 py-[10px] text-sm uppercase font-bold;

  }

  .text-primary {
    @apply text-[#5dd9dd];
  }

  .bg-primary {
    @apply bg-[#2f5b5c];
  }
}


/* CSS  */
.shadow-img {
  filter: drop-shadow(0 0 0.75rem #236769);
}

.stroke-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}